en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
newsapi-python==0.2.6
click==7.1.2
Flask==1.1.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
numpy==1.20.2
packaging==21.0
pandas==1.2.3
regex==2021.4.4
requests==2.25.1
requests-html==0.10.0
sklearn==0.0
spacy==3.1.3
